

.cardEaxam{
    position: relative;
    width: fit-content;
    height: 55px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
     /* margin: 16px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 5px;
    
   left: 450px;
}

.cardEaxam:hover{
    color: #2F55D4;
}
.examheading{
    color: #3C4858;

}
.carde{
 overflow: hidden;
 border: 1px solid #ddd;
 text-align: start;
min-width: 100%;
 height: auto;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 background-color: #ffffff;
 border-radius: 8px;
 justify-content: center;
}
.quetsion{
    color: #212529;
    font-size: 12.8px;
   
}
.btn_q1{
   
    height: 30px;
    text-align: center;
   background-color: #16c3ea ;
    border: none;

    position: relative;
    color: #000;
    border-radius: 5px;
    width: 80px;
}
.btn_q2{
   color: #000;
    height: 30px;
    text-align: center;
   background-color: #16c3ea ;
    border: none;
    border-radius: 5px;
    width: 80px;
    
}

.coding{
    width: fit-content;
    font-size: 14px;
   
    display: flex;
    justify-content: center;
    text-align: center;
 margin-top: -5px;
   
    
}
.startbutton{
    position: relative;
    bottom: 55px;

   

}

.head_titile{
    text-align: center;
    margin-top: -25px;

}
.App_2{
	max-height: 95vh;
	min-width: 100%;
	overflow-y: hidden;
	background-color: 
  #f0e7ef
  ;
}
.compiletext_out{
    font-size: 18px;
    color: white;
}
/* .test-container{
    width: 100%;


} */
